.login-form {
  width: 300px;
  background-color: #f7f7f7;
  padding: 20px;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input[type="text"],.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.login-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

.admin-dashboard {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat-box {
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat-box h2 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.stat-box p {
  font-size: 24px;
  font-weight: bold;
  color: #666;
}

.stat-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}